header{
    background-color: aqua;
}

main{
    background-color: aqua;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                            "nav main aside"
                            "footer footer footer";
}

.part1 h2 {
    color : red;
}

.part1 p {
    background-color: black;
    color: white;
}

.part2 {
    color: green;
}

.part2 p {
background-color: darkred;
}

.part3{
    color : green;
}


.part4 >  p {
    color: green;
    }

